.loginPage {
  font-weight: 600;
}

.cotainer {
    top: 10%;
    position: absolute;
    left: 40%;
    font-size: 90px;
}

.dot {
    color: #39e600;
}

.login, .signup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}



.login {
    background: #39e600;
    color: white;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    bottom: 20%;
    cursor: pointer;

    
    overflow: hidden;
}


  .login:after {
    content: "";
    background: rgba(255,255,255,0.3);
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1s;
  }

  .login:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
  }

  .signup {
    bottom: 10%;
  }

  .signup > a {
    color: #39e600;
  }