.pb-main {
  padding-top: 75px;
  margin: auto;
  text-align: center;
  width: 80%;
}

.pb-table td,
.pb-table th {
  text-align: left;
  vertical-align: middle;
}

.pb-table th {
  text-align: center;
}

.pb-button {
  border: none;
  /* border-radius: 10%; */
  padding: 5px;
  width: 100%;
}

.pb-icon:hover {
  cursor: pointer;
}

.pb-table-div {
  width: 50%;
}
