.divider1 {
    display: inline-block;
    width: 2px;
    background-color: rgb(189, 189, 189);
    margin: 0 10px;
    height: 100%;
  }

  .displayBlock{ display: block }
.displayNone{ display: none} 